.sprite { background-image: url('sprite.png'); background-color: transparent; background-repeat: no-repeat; }
.1 { width: 120px; height: 120px; background-position: 0px -1560px; }
.10 { width: 120px; height: 120px; background-position: 0px -1440px; }
.2 { width: 120px; height: 120px; background-position: 0px -1320px; }
.3-mega { width: 120px; height: 120px; background-position: 0px -1200px; }
.3 { width: 120px; height: 120px; background-position: 0px -1080px; }
.4 { width: 120px; height: 120px; background-position: 0px -960px; }
.5 { width: 120px; height: 120px; background-position: 0px -840px; }
.6-mega-x { width: 120px; height: 120px; background-position: 0px -720px; }
.6-mega-y { width: 120px; height: 120px; background-position: 0px -600px; }
.6 { width: 120px; height: 120px; background-position: 0px -480px; }
.7 { width: 120px; height: 120px; background-position: 0px -360px; }
.8 { width: 120px; height: 120px; background-position: 0px -240px; }
.9-mega { width: 120px; height: 120px; background-position: 0px -120px; }
.9 { width: 120px; height: 120px; background-position: 0px 0px; }
